In [61]:
import pandas as pd
import numpy as np

In [62]:
flags = pd.read_feather('../data/all_flags.feather')
flags

,Flag(s),State,Aspect ratio,Date of latest adoption,Designer(s),Description
0,Afghanistan (Islamic Emirate),Afghanistan,0.500000,2021-08-15,None,White with a black Shahada in Thuluth scrip...
1,Afghanistan (Islamic Republic),Afghanistan,0.666667,2013-08-19,None,Three equal vertical bands of black ( hoist s...
2,Albania,Albania,0.714286,1992-04-07,None,Red with a black double-headed eagle in the ...
3,Algeria,Algeria,0.666667,1962-07-03,Disputed,Two equal vertical bands of green (hoist side)...
4,Andorra,Andorra,0.700000,1993-05-05,None,"Three vertical bands of blue (hoist side), yel..."
...,...,...,...,...,...,...
208,Somaliland,Somaliland,NaN,1996-10-14,None,"Three equal horizontal bands of green (top), w..."
209,South Ossetia,South Ossetia,NaN,NaT,None,"Three equal horizontal bands of white (top), r..."
210,Taiwan,Taiwan,0.666667,1928-10-28,Lu Haodong (canton) Sun Yat-sen (red field),Red field with a dark blue rectangle in the up...
211,Transnistria,Transnistria,0.500000,2000-07-03,None,"Three horizontal bands of red (top), green (ha..."
212,Russia,Transnistria,0.500000,2017-04-12,Peter I of Russia,"Three equal horizontal bands of white (top), b..."

In [63]:
from typing import Dict
import re

split_words = re.compile(r'\W')

def bag_of_words(s: str) -> Dict[str, int]:
    words = split_words.split(s.lower())
    bag = dict()

    for word in words:
        bag[word] = bag.get(word, 0) + 1

    return bag

In [64]:
word_bag = pd.DataFrame.from_records(flags['Description'].apply(bag_of_words).values)
word_bag.fillna(0, inplace=True)
word_bag

,white,with,a,black,,shahada,in,thuluth,script,the,...,tiara,base,zimbabwe,dexter,hand,appaumé,kosovo,arrayed,slight,outline
0,1.0,1.0,1.0,1.0,5,1.0,2.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,0.0,1.0,12,0.0,1.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,1.0,1.0,3,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,2.0,0.0,7,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,9,0.0,1.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,3.0,0.0,2.0,1.0,10,1.0,2.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
209,1.0,0.0,0.0,0.0,5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
210,1.0,2.0,2.0,0.0,1,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
211,0.0,1.0,3.0,0.0,9,0.0,1.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
212,1.0,0.0,0.0,0.0,5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
tf = word_bag.apply(lambda r: r / word_bag.sum(axis=1))
tf

,white,with,a,black,,shahada,in,thuluth,script,the,...,tiara,base,zimbabwe,dexter,hand,appaumé,kosovo,arrayed,slight,outline
0,0.062500,0.062500,0.062500,0.062500,0.312500,0.062500,0.125000,0.0625,0.0625,0.062500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,0.024390,0.024390,0.000000,0.024390,0.292683,0.000000,0.024390,0.0000,0.0000,0.073171,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,0.000000,0.076923,0.076923,0.076923,0.230769,0.000000,0.076923,0.0000,0.0000,0.076923,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,0.031250,0.000000,0.062500,0.000000,0.218750,0.000000,0.000000,0.0000,0.0000,0.031250,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,0.000000,0.019608,0.000000,0.000000,0.176471,0.000000,0.019608,0.0000,0.0000,0.098039,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,0.078947,0.000000,0.052632,0.026316,0.263158,0.026316,0.052632,0.0000,0.0000,0.052632,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
209,0.066667,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.0000,0.0000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
210,0.045455,0.090909,0.090909,0.000000,0.045455,0.000000,0.045455,0.0000,0.0000,0.045455,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
211,0.000000,0.022222,0.066667,0.000000,0.200000,0.000000,0.022222,0.0000,0.0000,0.044444,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.022222
212,0.066667,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.0000,0.0000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [66]:
idf = np.log(len(word_bag) / word_bag.astype(bool).sum(axis=0))
idf

white      0.330854
with       0.426818
a          0.364080
black      1.410048
           0.000000
             ...
appaumé    5.361292
kosovo     5.361292
arrayed    5.361292
slight     5.361292
outline    5.361292
Length: 576, dtype: float64

In [70]:
tf_idf = tf * idf
tf_idf.to_feather('../data/flag_description_tf_idf.feather')
tf_idf

,white,with,a,black,,shahada,in,thuluth,script,the,...,tiara,base,zimbabwe,dexter,hand,appaumé,kosovo,arrayed,slight,outline
0,0.020678,0.026676,0.022755,0.088128,0.0,0.266417,0.079238,0.291759,0.248437,0.013362,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
1,0.008070,0.010410,0.000000,0.034391,0.0,0.000000,0.015461,0.000000,0.000000,0.015644,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
2,0.000000,0.032832,0.028006,0.108465,0.0,0.000000,0.048762,0.000000,0.000000,0.016446,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
3,0.010339,0.000000,0.022755,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.006681,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
4,0.000000,0.008369,0.000000,0.000000,0.0,0.000000,0.012429,0.000000,0.000000,0.020961,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,0.026120,0.000000,0.019162,0.037107,0.0,0.112176,0.033363,0.000000,0.000000,0.011253,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
209,0.022057,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
210,0.015039,0.038802,0.033098,0.000000,0.0,0.000000,0.028814,0.000000,0.000000,0.009718,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
211,0.000000,0.009485,0.024272,0.000000,0.0,0.000000,0.014087,0.000000,0.000000,0.009502,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.11914
212,0.022057,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000